<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>License_Elearning</display-name>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
    <welcome-file>homepage.htm</welcome-file>
    <welcome-file>homepage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserControl</display-name>
    <servlet-name>UserControl</servlet-name>
    <servlet-class>com.cts.controller.UserControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControl</servlet-name>
    <url-pattern>/UserControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileController</display-name>
    <servlet-name>UserProfileController</servlet-name>
    <servlet-class>com.cts.controller.UserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileController</servlet-name>
    <url-pattern>/UserProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeactivateController</display-name>
    <servlet-name>DeactivateController</servlet-name>
    <servlet-class>com.cts.controller.DeactivateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateController</servlet-name>
    <url-pattern>/DeactivateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorController</display-name>
    <servlet-name>VendorController</servlet-name>
    <servlet-class>com.cts.controller.VendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorController</servlet-name>
    <url-pattern>/VendorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorDAO</display-name>
    <servlet-name>VendorDAO</servlet-name>
    <servlet-class>com.cts.dao.VendorDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorDAO</servlet-name>
    <url-pattern>/VendorDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorBO</display-name>
    <servlet-name>VendorBO</servlet-name>
    <servlet-class>com.cts.bo.VendorBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorBO</servlet-name>
    <url-pattern>/VendorBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorDeactivateController</display-name>
    <servlet-name>VendorDeactivateController</servlet-name>
    <servlet-class>com.cts.controller.VendorDeactivateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorDeactivateController</servlet-name>
    <url-pattern>/VendorDeactivateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseController</display-name>
    <servlet-name>CourseController</servlet-name>
    <servlet-class>com.cts.controller.CourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseController</servlet-name>
    <url-pattern>/CourseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDisplayController</display-name>
    <servlet-name>CourseDisplayController</servlet-name>
    <servlet-class>com.cts.controller.CourseDisplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDisplayController</servlet-name>
    <url-pattern>/CourseDisplayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorAccessController</display-name>
    <servlet-name>VendorAccessController</servlet-name>
    <servlet-class>com.cts.controller.VendorAccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorAccessController</servlet-name>
    <url-pattern>/VendorAccessController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorProvideController</display-name>
    <servlet-name>VendorProvideController</servlet-name>
    <servlet-class>com.cts.controller.VendorProvideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorProvideController</servlet-name>
    <url-pattern>/VendorProvideController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminControl</display-name>
    <servlet-name>AdminControl</servlet-name>
    <servlet-class>com.cts.controller.AdminControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControl</servlet-name>
    <url-pattern>/AdminControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserController</display-name>
    <servlet-name>AdminUserController</servlet-name>
    <servlet-class>com.cts.controller.AdminUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserController</servlet-name>
    <url-pattern>/AdminUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminVendorController</display-name>
    <servlet-name>AdminVendorController</servlet-name>
    <servlet-class>com.cts.controller.AdminVendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVendorController</servlet-name>
    <url-pattern>/AdminVendorController</url-pattern>
  </servlet-mapping>
</web-app>